$break-points: ( sm: 768px, md: 992px, lg: 1200px);
@mixin make-grid($direction) {
    display: grid;
    @media only screen and (max-width: 767px) {
        @for $num from 1 through 12 {
            .box-xs-#{$num} {
                grid-#{$direction}: span $num;
            }
        }
    }
    @each $break-point,
    $value in $break-points {
        @media only screen and (min-width:#{$value}) {
            @for $num from 1 through 12 {
                .box-#{$break-point}-#{$num} {
                    grid-#{$direction}: span $num;
                }
            }
        }
    }
}

.row {
    grid-template-columns: repeat(12, 1fr);
    @include make-grid(column);
}

.column {
    grid-template-rows: repeat(12, 1fr);
    @include make-grid(row);
}

$unit-grid-gutter: 10px;
@for $num from 1 through 5 {
    .g-#{$num} {
        grid-gap: $unit-grid-gutter * $num;
    }
}