@import 'color';
.navbar {
    display: flex;
    justify-content: space-around;
    background: $white;
    max-width: 100%;
    height: 5rem;
    padding: 1.5%;
    .navbar-brand {
        &:hover {
            cursor: pointer;
        }
    }
    .navbar-item {
        display: flex;
        .links {
            color: $gray;
            text-shadow: 1px 1px $black;
            text-decoration: none;
            margin-left: 10px;
            margin-right: 10px;
            &:hover {
                color: darken($color: $gray, $amount: 32%)
            }
        }
    }
}